<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
      <div class="card">
        <div class="card-body">
          <div class="app-brand justify-content-center">
            <img src="../../../assets/img/asficredito.png" />
          </div>
          <h4 class="mb-2">Welcome to AsfiCrédito! 👋</h4>
          <p class="mb-4">Please sign-in to your account</p>

          <form class="mb-3" [formGroup]="formAutenticacion">
            <div class="mb-3">
              <label for="email" class="form-label">Email or Username</label>
              <input type="text"
                     class="form-control"
                     formControlName = "email"
                     placeholder="Enter your email or username"
                     autofocus />
            </div>
            <div class="mb-3 form-password-toggle">
              <div class="d-flex justify-content-between">
                <label class="form-label" for="password">Password</label>
                <a href="" href="https://localhost:44365/forgot-passwd">
                  <small>Forgot Password?</small>
                </a>
              </div>
              <div class="input-group input-group-merge">
                <input type="password"
                       class="form-control"
                       formControlName = "password"
                       placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                       aria-describedby="password" />
                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
              </div>
            </div>
            <div class="mb-3">
              <button class="btn btn-primary d-grid w-100" type="submit" (click)="ingresar()">Sign in</button>
            </div>
          </form>

          <p class="text-center">
            <span>New on our platform?</span>
            <a href="https://localhost:44365/register">
              <span>Create an account</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
