<div class="d-flex">
    <div style="width: 20%;">
        {{ clientUserName }}
    </div>
    <div style="width: 30%;">
        {{ timeslip.departmentName }}
    </div>
    <div style="width: 35%;">
        {{ timeslip.taskDescription }}
    </div>
    <div style="width: 8%; text-align: center;">
        {{ timeslip.duration }}
    </div>
    <div style="width: 7%">
        <button class="btn"><i class="fa fa-edit edit"></i></button>
        <button class="btn" (click)="removeTimeslip()"><i class="fa fa-trash trash"></i></button>
    </div>
</div>