<div class="authentication-wrapper authentication-basic container-p-y">
  <div class="authentication-inner">
    <div class="card">
      <div class="card-body">
        <div class="app-brand justify-content-center">
          <img src="../../../assets/img/asficredito.png" />
        </div>
        <h4 class="mb-2">Forgot Password? 🔒</h4>
        <p class="mb-4">Enter your email and we'll send alert with your password</p>

        <form class="mb-3" [formGroup]="formResetPassword">
          <div class="mb-3">
            <label for="email" class="form-label">Email or Username</label>
            <input type="text"
                   class="form-control"
                   formControlName="email"
                   placeholder="Enter your email or username"
                   autofocus />
          </div>
          <div class="mb-3">
            <button class="btn btn-primary d-grid w-100" type="submit" (click)="enviarPasswd()">Send Password</button>
          </div>
        </form>
        <div class="text-center">
          <a href="https://localhost:44365" class="d-flex align-items-center justify-content-center">
            <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
            Back to login
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
